.performance-budget-graph {
  background-color: $c-white;
  border: 1px solid $c-white;
  margin-top: 20px;
}

.performance-budget-graph__bar {
  width: auto;

  background-color: $c-red;
  height: 50px;
  float: left;
  border: 1px solid $c-white;
  color: $c-white;
  text-align: center;
  animation: 2s animateBar ease;

  &:nth-child(3n-1) {
    background-color: $c-black;
  }

  &:nth-child(3n+1) {
    background-color: $c-blue;
  }
}

@keyframes animateBar {
  0% { width: 0; }
}
