.performance-budget-nav {
  margin: 40px auto 0;
}

.performance-budget-nav__list {
  display: table;
  width: 40%;
}

.performance-budget-nav__list__item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 10%;
  background-color: $c-blue;
  border: 1px solid $c-white;
}

.performance-budget-nav__swatch {
  background-color: $c-red;
  width: 10%;
  height: 10px;
  display: table-cell;
  border: 1px solid $c-white;

  &:nth-child(3n-1) {
    background-color: $c-black;
  }

  &:nth-child(3n+1) {
    background-color: $c-blue;
  }
}

.performance-budget-nav__list__item--active {
  background-color: $c-black;
}

.performance-budget-nav__link {
  color: $c-white;
  padding: 20px 0;
  display: block;
}
